@font-face {
    font-family: Apple;
    src: url("Fonts/sf-pro-display_regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: Apple, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #f5f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 760px;
    text-align: center;
}

.container {
    
    width: 100vw;
    height: 110vh;
    background: linear-gradient(to bottom, rgba(161, 150, 165, 0.7), rgba(23, 154, 71, 0.5));
    padding: 48px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #1d1d1f;
    margin-bottom:  20px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    background: #1d1d1f;
    padding: 15px;
    border-radius: 10px;
}

.nav button {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
}

.nav button:hover, .nav button.active {
    color: white;
}

.section {
    display: none;
    padding: 20px;
    background: white;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section.active {
    display: block;
}

input, button {
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

input {
    width: 70%;
    border: 1px solid #6b8e23;
}

input:focus {
    outline: none;
    border-color: #3b5c27;
}

button {
    background: #0071e3;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005bb5;
}

.class-list, .student-list, .lesson-list, .attendance-list {
    margin-top: 20px;
}

.class-item, .student-item, .lesson-item, .attendance-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.delete-btn {
    background: #d9534f;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;

}

.delete-btn:hover {
    background: #c9302c;
}
